{% extends 'base.html' %}

{% block main %}
    <div class="container my-5" style="width: 30%">
        <center>
            <div class="col-4">
                <h1 class="nav-title">로그인</h1>
            </div>
        </center>
        <br>
        <form class="login" method="POST" action="">
          {% csrf_token %}
          <div class="form-floating mb-3">
              <label for="floatingInput">아이디</label>
              <input type="text" class="form-control" name="username" id="floatingInput" placeholder="name@example.com">
            </div>
            <div class="form-floating">
                <label for="floatingPassword">비밀번호</label>
              <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            </div>
            <br>
          <button class="btn btn-primary" type="submit" style="width: 100%">로그인</button>
        </form>
        <div style="margin-top: 1rem">
            <a href="" class="a-tag">회원가입</a>
            <a style="margin-left: 1rem" href="" class="a-tag" >비밀번호 찾기</a>
        </div>
    </div>
{% endblock %}