{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}" media="screen">
{% endblock %}

{% block main %}
    <section>
        <div class="container main_bg">
            <div class="row justify-content-between">
                <div class="col-lg-6 text-light"></div>
                <div class="col-lg-5 mt-5">
                    <br><br><br><br><br><br>
                    <h1 class="display-1 fw-bold lh-1 mb-5 text-light">Smunity</h1>
                    <p class="col-lg-10 fs-1 text-light">상명대학교 학생을 위한<br>졸업요건 검사 사이트</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}