.main_bg {
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
    width:100%;
    max-width: 1600px;
    min-height:750px;
    background-image: url('/static/core/img/main.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}